<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/person">
    <label>
        姓名：<input type="text" name="name">
    </label>
    <label>
        年龄：<input type="text" name="age">
    </label>
    <label>
        生日：<input type="date" name="birthday">
    </label>
    <label>
        宠物名#宠物年龄：<input type="text" name="pet">
    </label>
   <!-- <label>
        宠物年龄：<input type="text" name="pet.age">
    </label>-->
    <input type="submit" value="提交">
</form>
</body>
</html>