### IntelliJ project files
.idea/
*.iml
/target/*
/**/target/


# git
*.orig
.flattened-pom.xml
demo-api/.flattened-pom.xml
demo-client/.flattened-pom.xml

# Log file
*.log
*_rpc_port.txt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar